.main{
  align-items: center;
  background-color: #F5F5F1;
  display: flex;
  flex-flow: column;
  padding: 2rem;
}

.main__text,
.main__title{
  color: #000;
}

.main__text{
  font-size: 1.2rem;
}

.main__title{
  font-size: 2rem;
}
