.header{
  align-items: center;
  background-color: #B81D24;
  display: flex;
  flex-flow: column;
  padding: 2rem;
}

.header__text,
.header__title{
  color: #F5F5F1;
}

.header__text{
  font-size: 1.2rem;
}

.header__title{
  font-size: 2rem;
}
