.header{
  align-items: center;
  background-color: var(--color-red-1);
  display: flex;
  flex-flow: column;
  padding: 2rem;
}

.header__text,
.header__title{
  color: var(--color-gray);
}

.header__title{
  font-size:   var(--fs-title);
  font-weight: var(--fw-title);
}
