.footer{
  align-items: center;
  display: flex;
  flex-flow: column;
  padding: 2rem;
}

.footer__text,
.footer__title{
  color: #F5F5F1;
}

.footer__text{
  font-size: 1.2rem;
}

.footer__title{
  font-size: 2rem;
}
