.footer{
  align-items: center;
  display: flex;
  flex-flow: column;
  padding: 2rem;
}

.footer__text,
.footer__title{
  color: var(--color-gray);
}

.footer__title{
  font-size:   var(--fs-title);
  font-weight: var(--fw-title);
}
